<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    {% if current_user %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{{current_user}} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#" data-toggle="modal" data-target="#loginModal">改名</a></li>
      <li><a href="#">Another action</a></li>
    </ul>
    {% else %}
    <li><a href="#" data-toggle="modal" data-target="#loginModal">登录</a></li>
    {% end %}
  </li>
</ul>

<script>
  $(function () {
    $('#loginModal .btn-primary').unbind('click').click(function (event) {
      event.stopPropagation();
      event.preventDefault();

      var nickname = $('#loginModal #nickname').val().replace(/\s/g, '');
      if (nickname) {
        $.post('/', {user: nickname}, function () {
          window.location.reload();
        });
      }
    });
  });
</script>
